<header class="action-bar">

	<div class="row">
		<div class="col-xs-12 col-sm-3">
			<div class="title-group">
				<h2 class="page-title"><!-- $title --></h2>
				<a class="help" href=""><i class="fa fa-question-circle"></i></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9">
			<div class="actions">
				<div class="actions-left">
					<a class="btn btn-primary" href=""><i class="fa fa-plus"></i>Add</a>
				</div>
				<div class="actions-right">
					<div class="btn-group">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-cog"></i>
							Tools
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a>Global update</a>
							</li>
							<li>
								<a>Bulk product addition</a>
							</li>
							<li>
								<a>Product subscriptions</a>
							</li>
							<li class="divider"></li>
							<li>
								<a>Edit selected</a>
							</li>
							<li>
								<a>Clone selected</a>
							</li>
							<li>
								<a>Export selected</a>
							</li>
							<li>
								<a>Delete selected</a>
							</li>
						</ul>
					</div>
					<a class="btn btn-success" href="">Save</a>
				</div>
			</div>
		</div>
	</div>

</header>