<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <title><!-- $title | • I'm Naked --></title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

            <!-- @stylesheet theme animate brankic.css ionicons.min.css font-awesome.min.css datepicker.css morris.css sfp -->

            <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
            <!-- @javascript bootstrap.min.js jquery.cookie.js moment.min.js theme.js bootstrap-datepicker.js raphael-min.js morris.min.js jquery.flot.js jquery.flot.time.js jquery.flot.tooltip.js -->

            <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

            <!-- @reload -->
        </head>

        <body id="<!-- $pageid -->">

            <!-- @include _navigation -->
            <!-- @include _sidebar -->
