<div class="toolbar">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-viewstore" target="_blank" href="#">View Store</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" data-toggle="dropdown">
                        <i class="fa fa-comment"></i>
                        <span>Support</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a target="_blank" href="//support.ecommercewebsites.com.au">Knowledgebase</a>
                        </li>
                        <li>
                            <a target="_blank" href="//support.ecommercewebsites.com.au/customer/portal/emails/new">Support</a>
                        </li>
                        <li>
                            <a target="_blank" href="//support.ecommercewebsites.com.au/customer/portal/emails/new">30 Day Curriculum</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="account/overview.html" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <span>My Account</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="<!-- @path account/overview.html -->">Overview</a>
                        </li>
                        <li>
                            <a href="<!-- @path account/invoices.html -->">Invoices</a>
                        </li>
                        <li>
                            <a href="<!-- @path account/billing.html -->">Billing</a>
                        </li>
                        <li>
                            <a href="<!-- @path account/domains.html -->">Domain</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

</div>