<div id="sidebar-default" class="main-sidebar">
    <div class="current-user">
        <a href="index.html" class="name">
            <span>
                Your Store Name
                <i class="fa fa-chevron-down"></i>
            </span>
        </a>
        <ul class="menu">
            <li>
                <a href="account-profile.html">Account settings</a>
            </li>
            <li>
                <a href="account-billing.html">Billing</a>
            </li>
            <li>
                <a href="account-notifications.html">Notifications</a>
            </li>
            <li>
                <a href="account-support.html">Help / Support</a>
            </li>
            <li>
                <a href="signup.html">Sign out</a>
            </li>
        </ul>
    </div>

    <div class="search search-global">
        <div class="form-group">
            <label class="form-label hidden">Search</label>
            <input class="form-control" placeholder="Search"/>
            <button class="btn btn-default btn-search"><i class="fa fa-search"></i></button>
        </div>
    </div>

    <div class="menu-section">
        <ul>
            <li>
                <a href="index.html">
                    <i class="ion-android-earth"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="products.html" data-toggle="sidebar">
                    <span>Products</span>
                    <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="<!-- @path products/categories.html -->">Categories</a></li>
                    <li><a href="<!-- @path products/manage.html -->">Products</a></li>
                    <li><a href="<!-- @path products/features.html -->">Product Features</a></li>
                    <li><a href="<!-- @path products/filters.html -->">Product Filters</a></li>
                    <li><a href="<!-- @path products/options.html -->">Product Options</a></li>
                    <li><a href="<!-- @path products/reviews.html -->">Product Reviews</a></li>
                    <li><a href="<!-- @path products/tabs.html -->">Product Tabs</a></li>
                    <li><a href="<!-- @path products/settings.html -->">Product Settings</a></li>
                </ul>
            </li>
            <li>
                <a href="orders.html" data-toggle="sidebar">
                    <span>Orders</span>
                    <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="<!-- @path orders/manage.html -->">Orders</a></li>
                    <li><a href="<!-- @path orders/incomplete.html -->">Incomplete Orders</a></li>
                    <li><a href="<!-- @path orders/shipments.html -->">Shipments</a></li>
                    <li><a href="<!-- @path orders/statistics.html -->">Statistics</a></li>
                    <li><a href="<!-- @path orders/statuses.html -->">Statuses</a></li>
                    <li><a href="<!-- @path orders/settings.html -->">Order Settings</a></li>
                </ul>
            </li>
            <li>
                <a href="payments.html" data-toggle="sidebar">
                    <span>Payments</span>
                    <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="<!-- @path payments/manage.html -->">Payment Methods</a></li>
                    <li><a href="<!-- @path payments/taxes.html -->">Taxes</a></li>
                    <li><a href="<!-- @path payments/currencies.html -->">Currencies</a></li>
                </ul>
            </li>
            <li>
                <a href="shipping.html" data-toggle="sidebar">
                    <span>Shipping</span>
                    <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="<!-- @path shipping/manage.html -->">Shipping Methods</a></li>
                    <li><a href="<!-- @path shipping/locations.html -->">Locations</a></li>
                    <li><a href="<!-- @path shipping/countries.html -->">Countries</a></li>
                    <li><a href="<!-- @path shipping/states.html -->">States</a></li>
                    <li><a href="<!-- @path shipping/settings.html -->">Settings</a></li>
                </ul>
            </li>
            <li>
                <a href="content.html" data-toggle="sidebar">
                    <span>Content</span>
                    <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="<!-- @path content/manage.html -->">Content Pages</a></li>
                    <li><a href="<!-- @path content/menus.html -->">Menus</a></li>
                    <li><a href="<!-- @path content/forms.html -->">Forms</a></li>
                    <li><a href="<!-- @path content/news.html -->">News</a></li>
                    <li><a href="<!-- @path content/settings.html -->">Settings</a></li>
                </ul>
            </li>
            <li>
                <a href="marketing.html" data-toggle="sidebar">
                    <span>Marketing</span>
                    <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="<!-- @path marketing/seo-rules.html -->">SEO Rules</a></li>
                    <li><a href="<!-- @path marketing/sitemap.html -->">Sitemap</a></li>
                    <li><a href="<!-- @path marketing/social.html -->">Social</a></li>
                    <li><a href="<!-- @path marketing/redirects.html -->">Redirects</a></li>
                    <li><a href="<!-- @path marketing/settings.html -->">Settings</a></li>
                </ul>
            </li>
            <li>
                <a href="marketing.html" data-toggle="sidebar">
                    <span>Users</span>
                    <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="<!-- @path users/customers.html -->">Customers</a></li>
                    <li><a href="<!-- @path users/administrators.html -->">Administrators</a></li>
                    <li><a href="<!-- @path users/suppliers.html -->">Suppliers</a></li>
                    <li><a href="<!-- @path users/usergroups.html -->">Usergroups</a></li>
                    <li><a href="<!-- @path users/profile-fields.html -->">Profile Fields</a></li>
                    <li><a href="<!-- @path users/settings.html -->">Settings</a></li>
                </ul>
            </li>
            <li>
                <a href="pages.html">
                    <span>Pages</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="menu-section">
        <ul>
            <li>
                <a href="integrations.html">
                    <span>Integrations</span>
                </a>
            </li>
            <li>
                <a href="settings.html">
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="design.html" data-toggle="sidebar">
                    <span>Design</span>
                    <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="<!-- @path design/layouts.html -->">Layouts</a></li>
                    <li><a href="<!-- @path design/themes.html -->">Themes</a></li>
                    <li><a href="<!-- @path design/theme-editor.html -->">Theme Editor</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>