    <header class="l-header">
      <div class="l-constrained flag">
        <div class="table-cell">
          <a class="menu-link btn btn--small" href="#">Menu</a>
        </div>
        
        <div class="table-cell text-right">
          <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="none">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </div>
    </header>
    
    <div class="drawer">
      <nav>
        <ul class="nav nav--primary">
          <li><a href="#typography">Typography</a></li>
          <li><a href="#images">Images</a></li>
          <li><a href="#navigation">Navigation</a></li>
          <li><a href="#table">Table</a></li>
          <li><a href="#form">Form</a></li>
          <li><a href="#module">Module</a></li>
        </ul>
      </nav>
      
      <div class="l-constrained">
        <div class="hero">
          <div class="tagline h-grp">
            <h1 class="giga">Barebones</h1>
            <p class="lead">Barebones is a light CSS framework that uses a SMACSS approach.</p>
          </div>
          
          <ul class="l-inline cta">
            <li><a class="btn" href="https://github.com/kachunchau/barebones-hammer">View on Github</a></li>
            <li><a class="btn" href="https://github.com/kachunchau/barebones-hammer/raw/master/barebones.hammer">Get Hammer Template</a></li>
          </ul>
        </div>